@model IEnumerable<SkillBridges.ViewModels.RatingViewModel>

@{
    ViewData["Title"] = "Ratings";
}

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="col-md-10">
        <div class="card shadow-lg border-0 rounded-4 p-4">
            <h4 class="text-center fw-semibold mb-4">Ratings</h4>

            <div class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.TaskName)</th>
                            <th>@Html.DisplayNameFor(model => model.ClientName)</th>
                            <th>@Html.DisplayNameFor(model => model.Feedback)</th>
                            <th>@Html.DisplayNameFor(model => model.Score)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.TaskName)</td>
                                @if (item.ClientName != null)
                                {
                                    <td>@Html.DisplayFor(modelItem => item.ClientName)</td>
                                }
                                else
                                {
                                    <td>Null</td>
                                }
                                <td>@Html.DisplayFor(modelItem => item.Feedback)</td>
                                <td>@Html.DisplayFor(modelItem => item.Score)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
