@model IEnumerable<SkillBridges.ViewModels.TaskViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budjet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientProfileId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalProfileId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budjet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientProfileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalProfileId)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Status)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.TaskId }) 
                @Html.ActionLink("Details", "Details", new { id=item.TaskId }) 
                @Html.ActionLink("Delete", "Delete", new {id=item.TaskId})
                <a asp-controller="TaskApplication" asp-action="ClientRequests" asp-route-taskId="@item.TaskId">View Requests</a>
                    @if ((int)item.Status == (int)SkillBridges.Models.TaskStatus.Assigned)
                    {
                        <a asp-controller="Work" asp-action="Index" asp-route-TaskId="@item.TaskId">View Work</a>
                        <a asp-controller="Message" asp-action="Create" asp-route-id="@item.TaskId" asp-route-senderId="@item.ClientProfileId" asp-route-receiverId="@item.ProfessionalProfileId">Message</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
