@model IEnumerable<SkillBridges.ViewModels.TaskApplicationViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskApplicationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientProfileId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalProfileId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proposal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedBudjet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppliedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskApplicationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientProfileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalProfileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proposal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedBudjet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppliedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
               <a asp-controller="Task" asp-action="IndexForClient" asp-route-professionalProfileId="@item.ProfessionalProfileId"></a>
            </td>
        </tr>
}
    </tbody>
</table>
