@model SkillBridges.ViewModels.ProfessionalDetailsViewModel

@{
    ViewData["Title"] = "ProfessionalDetails";
}


<div class="col-md-12">
    <div class="card shadow-lg border-0 rounded-4 p-4">
        <h4 class="text-center fw-semibold mb-4">ProfessionalDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 ">
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessionalProfileId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfessionalProfileId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Languages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Languages)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
    </dl>


<div class="professional-details-links">
    <a asp-action="Edit" asp-route-id="@Model.User.Id" class="btn btn-dark professional-btn">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.User.Id" class="btn btn-dark professional-btn">Delete</a>
    <a asp-controller="Professional" asp-action="Edit" asp-route-id="@Model.User.Id" class="btn btn-dark professional-btn">Edit Bio</a>
    <a asp-controller="Skill" asp-action="Assign" asp-route-professionalId="@Model.ProfessionalProfileId" class="btn btn-dark professional-btn">Skill</a>
    <a asp-controller="Skill" asp-action="IndexForProfessional" asp-route-professionalId="@Model.ProfessionalProfileId" class="btn btn-dark professional-btn">View Skill</a>
    <a asp-controller="Task" asp-action="IndexForProfessional" asp-route-ProfessionalProfileId="@Model.ProfessionalProfileId" class="btn btn-dark professional-btn">View Assigned Tasks</a>
    <a asp-controller="Task" asp-action="IndexByCategory" asp-route-professionalProfileId="@Model.ProfessionalProfileId" class="btn btn-dark professional-btn">View Tasks</a>
    <a asp-controller="TaskApplication" asp-action="Index" asp-route-professionalProfileId="@Model.ProfessionalProfileId" class="btn btn-dark professional-btn">View Applications</a>
    <a asp-controller="Rating" asp-action="Index" asp-route-ProfessionalProfileId="@Model.ProfessionalProfileId" class="btn btn-dark professional-btn">View Ratings</a>
            <a asp-controller="Payment" asp-action="ProfessionalHistory" asp-route-professionalId="@Model.ProfessionalProfileId" class="btn btn-dark">Payment History</a>
</div>
    </div>
</div>
