@model SkillBridges.ViewModels.ProfessionalDetailsViewModel

@{
    ViewData["Title"] = "ProfessionalDetails";
}

<h1>ProfessionalDetails</h1>

<div>
    <h4>ProfessionalDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessionalProfileId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfessionalProfileId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Languages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Languages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.User.Id">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.User.Id">Delete</a>
    <a asp-controller="Professional" asp-action="Edit" asp-route-id="@Model.User.Id">Edit Bio</a>
    <a asp-controller="Task" asp-action="IndexForClient" asp-route-professionalProfileId="@Model.ProfessionalProfileId">View Tasks</a>
    <a asp-controller="TaskApplication" asp-action="Index" asp-route-professionalProfileId="@Model.ProfessionalProfileId">View Applications</a>
</div>
