@model SkillBridges.Models.WorkSubmission

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkSubmission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkSubmissionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkSubmissionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessionalProfileId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfessionalProfileId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class="col-sm-10">
              <a href="@Model.FilePath" target="_blank" class="btn btn-link">Download</a>
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmittedAt)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = @Model.WorkSubmissionId  }) |
    <a asp-action="Index" asp-route-TaskId="@Model.TaskId">Back to List</a>
</div>
