@model IEnumerable<SkillBridges.Models.WorkSubmission>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkSubmissionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalProfileId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmittedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkSubmissionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalProfileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                    <a href="@item.FilePath" target="_blank" class="btn btn-link">Download</a>
            </td>
              
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedAt)
            </td>
            <td>
                @if (item.Status==WorkStatus.UnderSupervision)
                {
                    <a asp-controller="Work" asp-action="Accept" asp-route-WorkSubmissionId="@item.WorkSubmissionId">Accept Work</a>
                    <a asp-controller="Work" asp-action="Reject" asp-route-WorkSubmissionId="@item.WorkSubmissionId">Reject Work</a>
                }
                else
                {
                   @Html.DisplayFor(modelItem => item.Status)
                }
              
            </td>
        </tr>
}
    </tbody>
</table>
