@model IEnumerable<SkillBridges.ViewModels.SkillViewModel>

@{
    ViewData["Title"] = "IndexForProfessional";
}

<h1>IndexForProfessional</h1>
<p>
    Add A skill which is Not There in the List :
    <a asp-action="CreateForProfessional" asp-route-professionalProfileId="@Model.First().ProfessionalProfileId">Create New</a>
</p>
<p>
    Manage Skills(Add Or Remove Skills) :
    <a asp-action="Assign" asp-route-professionalId="@Model.First().ProfessionalProfileId">Manage Skills</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SkillId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SkillId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        
        </tr>
}
    </tbody>
</table>
